.btn-primarybotonAzul {
  background-color: #1313f5; }

.btn-primarybotonAqua {
  background-color: linear-gradient(aquamarine, aqua); }

/*iconos redes*/
.iconoWhatsap, .iconoInstagram {
  background-repeat: no-repeat;
  background-position: right center;
  width: 2rem;
  height: 2rem; }

.titulos {
  font-style: normal;
  font-weight: bold; }

h1 {
  color: #1313f5;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  text-align: center; }

h2 {
  color: #1313f5;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: bold;
  text-align: center; }

h3 {
  color: #1313f5;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: bold;
  text-align: center; }

.bg-colorMenu {
  /*background del menu */
  background-color: aqua;
  background-image: linear-gradient(aqua, aquamarine); }

.btn-primary {
  /*cmabio color botones contacto y turnos de forms*/
  --bs-btn-bg:#1313f5; }
  .btn-primaryInicioFinal {
    /*cmabio color botones llevame al inicio de pagina*/
    background-image: linear-gradient(aquamarine, aqua); }

.grillaGeneral {
  /*grid para las paginas*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "header header" "main main" "galeria galeria" "footer footer"; }

.grillaMainGaleria {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 3fr;
  justify-content: space-evenly;
  justify-items: center;
  padding: 5%; }

.grillaTituloIcono {
  display: grid;
  grid-template-columns: 2 fr;
  grid-template-rows: 1fr;
  grid-template-areas: "titulo icono";
  padding: 2%; }

.grillaCard {
  /*grid para noticias*/
  display: grid;
  grid-template-columns: 33.3%;
  grid-template-rows: 3fr;
  grid-template-areas: "card card card"; }
  .grillaCard {
    display: flex;
    justify-content: space-around;
    padding: 5rem; }

.card-grillaCard {
  /*underline animado de noticias*/
  background-image: linear-gradient(120deg, #ec008c, #fc6767 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 50%;
  transition: background-size 0.25s ease-in; }
  .card-grillaCard:hover {
    background-size: 100% 88%; }

.pieDePagina__titulo {
  /*footer*/
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #1313f5;
  grid-area: footer; }
  .pieDePagina__titulopieDePagina__tituloderechos--derechos {
    /*derechos reservados en el footer*/
    font-size: 0,5rem; }

.card_footer {
  background-color: aqua; }

.icono {
  display: flex;
  justify-content: space-evenly; }
  .icono :hover {
    translate: 2px; }

.card-nosotros {
  padding: 2%; }

.mapa {
  padding: 5%; }

.card-contacto {
  background-color: aqua;
  padding: 2%;
  margin: 2%; }
  .card-contacto :hover {
    translate: 2px; }

.card :hover {
  translate: 2px; }

.cajaImagen {
  /*galeria*/
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: galeria; }

.grillaCard {
  /*grid para cards*/
  display: grid;
  grid-template-columns: 33.3%;
  grid-template-rows: 3fr;
  grid-template-areas: "card card card"; }

.grillaCard {
  display: flex;
  justify-content: space-around;
  padding: 5rem; }

.card-grillaCard {
  /*underline animado de cards*/
  background-image: linear-gradient(120deg, #ec008c, #fc6767 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 50%;
  transition: background-size 0.25s ease-in; }

.card-grillaCard:hover {
  background-size: 100% 88%; }

html {
  font-size: 62,5%; }

.header {
  grid-area: header; }

.main {
  grid-area: main; }

.video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  padding: 5%; }

ol {
  /*formularios*/
  display: flex;
  list-style: none;
  line-height: normal; }

a {
  text-decoration: none;
  color: #1313f5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0,5rem;
  font-weight: 400; }

body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: aquamarine;
  margin: 1rem; }

.pieDePagina__titulo {
  /*footer*/
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #1313f5;
  grid-area: footer; }

.pieDePagina__titulo--derechos {
  /*derechos reservados en el footer*/
  font-size: 0,5rem; }

.imagenMedicoPaciente {
  /* imagen del header*/
  width: 100%;
  height: 70%; }

.imagenCarusel {
  /*imagen carusel*/
  width: 50%;
  height: 50%; }

.redesFlotantes {
  /*redes flotantes*/
  position: fixed;
  right: 0;
  bottom: 50%; }

.redesFlotantes img {
  /*redes flotantes*/
  width: 50px;
  display: block; }

/*map get estilo display de logo*/
.logo {
  /*logo pie de pagina*/
  width: 7rem;
  height: 7rem;
  display: flex;
  /*map get*/
  flex-direction: row;
  justify-content: flex-start; }

.logoHeader {
  /*logo header*/
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

/* tablet 768px */
@media screen and (max-width: 768px) {
  .grillaGeneral {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr; }
  .imagenMedicoPaciente {
    /* imagen del header*/
    width: 100%;
    height: 50%; }
  .cajaImagen {
    /*galeria*/
    display: none; }
  .redesFlotantes {
    /*redes flotantes*/
    display: none; }
  .redesFlotantes img {
    /*redes flotantes*/
    display: none; }
  .grillaCard {
    /*grilla de cards*/
    padding: 0; }
  .mapa {
    display: flex; }
  /* mobile 500px */ }

@media screen and (max-width: 768px) and (max-width: 500px) {
  .grillaGeneral {
    grid-template-columns: 1fr;
    grid-template-rows: 6fr; }
  .grillaCard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas: "card" "card" "card"; }
  .grillaTituloIconoVideo {
    display: none; }
  .imagenMedicoPaciente {
    /* imagen del header*/
    width: 100%;
    height: auto; }
  .cajaImagen {
    /*galeria*/
    display: none; }
  .redesFlotantes {
    /*redes flotantes*/
    display: none; }
  .redesFlotantes img {
    /*redes flotantes*/
    display: none; }
  .video {
    /*video*/
    display: none; }
  .iframe {
    /*iframe*/
    width: auto; }
  .icono {
    display: none; } }

@media screen and (max-width: 768px) and (max-width: 320px) {
  .mapa {
    display: flex;
    padding: 1%; } }
