.pieDePagina__titulo{                      /*footer*/
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color:#1313f5;
    grid-area: footer;
    &pieDePagina__tituloderechos--derechos{                            /*derechos reservados en el footer*/
    font-size: 0,5rem;
}
}
.card_footer{
    background-color:aqua; 
}