h1{
    color: $color;
    font-family: $fuente;
    font-size: 4rem;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
h2{
    color:    $color;
    font-family: $fuente;
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}
h3{ 
    color: $color;
    font-family: $fuente;
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    text-align: center;
} 