@import "variables";
@import "titulos";
@import "menu";
@import "botones";
@import "grilla";
@import "index";
@import "footer";
@import "icono";
@import "card-nosotros";
@import "mapa";
@import "card-contacto";
@import "card";
@import "cajaImagen";
@import "grillaCard";


html{    font-size: 62,5%;
}
.header{       
    grid-area: header;
}
.main{
    grid-area: main;
}
.video{
    display: flex;
    flex-direction: row;
    justify-content:center;
    justify-items:center;
    padding: 5%;
}
ol{      /*formularios*/
    display: flex;
    list-style: none;
    line-height: normal;
}
a{
    text-decoration: none; 
    color:#1313f5;
    font-family: 'Montserrat', sans-serif;
    font-size: 0,5rem;
    font-weight:400; 
}
body{
    font-family: 'Montserrat', sans-serif;
    color: black; 
    background-color: aquamarine;
    margin:1rem;  
}
.pieDePagina__titulo{  /*footer*/
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color:#1313f5;
    grid-area: footer;
}
.pieDePagina__titulo--derechos{ /*derechos reservados en el footer*/
    font-size: 0,5rem;
}

 .imagenMedicoPaciente{  /* imagen del header*/
    width: 100%;
    height:70% ;
}
.imagenCarusel{      /*imagen carusel*/
    width: 50%;
    height:50% ;
}
.redesFlotantes{ /*redes flotantes*/
    position: fixed;
    right: 0;
    bottom: 50%;
}
.redesFlotantes img{ /*redes flotantes*/
    width: 50px;
    display: block;
}

/*map get estilo display de logo*/
$estiloLogo:(
    display: flex,
    flex-direction: row,
    justify-content:flex-start
);

.logo{       /*logo pie de pagina*/
    width:7rem ;
    height:7rem ;
    display: map-get($estiloLogo, display);      /*map get*/
    flex-direction: map-get($estiloLogo, flex-direction );
    justify-content:map-get($estiloLogo, justify-content ); 
}
.logoHeader{       /*logo header*/
    width:10rem ;
    height:10rem ;
    display: map-get($estiloLogo, display);
    flex-direction: map-get($estiloLogo, flex-direction );
    justify-content:map-get($estiloLogo, justify-content );  
}

/* tablet 768px */

 @media screen and (max-width:768px) {
    .grillaGeneral{
        grid-template-columns:1fr ;
        grid-template-rows:4fr;}
    .imagenMedicoPaciente{  /* imagen del header*/
        width: 100%; 
        height: 50% ;
    }
    .cajaImagen{    /*galeria*/
      display: none;
    }
    .redesFlotantes{  /*redes flotantes*/
        display: none;
    }
    .redesFlotantes img{  /*redes flotantes*/
        display:none;
    }
    .grillaCard { /*grilla de cards*/
        padding: 0;
    }
    .mapa{
        display: flex;
    }
    
 /* mobile 500px */
  @media screen and (max-width:500px){
    .grillaGeneral{
        grid-template-columns:1fr ;
        grid-template-rows:6fr;
    }
    .grillaCard{
        display:grid;
        grid-template-columns:1fr ;
        grid-template-rows:3fr;
        grid-template-areas: 
        "card"
        "card"
        "card";
    }
    .grillaTituloIconoVideo{
        display: none;
    }
    .imagenMedicoPaciente{  /* imagen del header*/
        width: 100%; 
        height: auto ;
    }
    .cajaImagen{    /*galeria*/
       display: none;
    }
    .redesFlotantes{  /*redes flotantes*/
        display: none;
    }
    .redesFlotantes img{  /*redes flotantes*/
        display:none;
    }
    .video{       /*video*/
        display:none;
    }
    .iframe{       /*iframe*/
        width:auto;
    } 
    .icono{
        display: none;
    }
} 
@media screen and (max-width:320px){
    .mapa{
        display:flex;
        padding: 1%;
    }
}
}